// Colors
$brand-color: #FC851E;
$grey-text-color: #525252;
$grey-background-color: #303030;
$grey-background-nav: #343434;
$white-color: #ffffff;
// For the head nav and text
$black-color: #000000;
// Footer background
$grey-footer-color: #EBEBEB;

// Breakpoints
$break-point-xxsmall: 21.25em;
$break-point-xsmall: 28em;
$break-point-xsmall-2: 30em;
$break-point-small: 43.75em;
$break-point-medium: 56.25em;
$break-point-medium-large: 62.5em;
$break-point-large: 75em;
$break-point-xlarge: 87em;

// Spacing
$spacer-xsmall: .3rem;
$spacer-small: .5rem;
$spacer: 1rem;
$spacer-medium: 1.5rem;
$spacer-large: 2rem;
$spacer-xlarge: 4rem;
$spacer-xxlarge: 7rem;